webpage/src/main/app/webpage.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <db:mysql-config name="MySQL_Configuration" host="localhost" port="3306" user="root" password="Welcome123" database="student" doc:name="MySQL Configuration"/>
    <flow name="register">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/register" allowedMethods="GET" doc:name="HTTP"/>
        <parse-template location="C:\Users\EAI\AnypointStudio\workspace\final-master\webpage\src\main\resources\registrationfile.html" doc:name="Parse Template"/>
    </flow>
    <flow name="login">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/show" allowedMethods="GET" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select balance from bal where uname=#[payload.uname] and pwd=#[payload.pwd]]]></db:parameterized-query>
        </db:select>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="loginpage">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/login" allowedMethods="GET" doc:name="HTTP"/>
        <parse-template location="C:\Users\EAI\AnypointStudio\workspace\final-master\webpage\src\main\resources\loginpage.html" doc:name="Parse Template"/>
    </flow>
    <flow name="registration-post">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/register" allowedMethods="Post" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[insert into bal values(#[payload.uname],#[payload.pwd],#[payload.balance])]]></db:parameterized-query>
        </db:insert>
        <logger level="INFO" doc:name="Logger"/>
        <parse-template location="C:\Users\EAI\AnypointStudio\workspace\final-master\webpage\src\main\resources\registrationsuccess.html" doc:name="Parse Template"/>
    </flow>
</mule>
