variabledemo/target/classes/variabledemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="variabledemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
        <set-variable variableName="fvariable" value="flow variable set" doc:name="Variable"/>
        <set-session-variable variableName="svariable" value="session variable set" doc:name="Session Variable"/>
        <set-payload value="Success" doc:name="Set Payload"/>
        <logger message="#[flowVars.fvariable]" level="INFO" doc:name="flowLogger"/>
        <logger message="#[sessionVars.svariable]" level="INFO" doc:name="sessionLogger"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="vmqpath" doc:name="VM"/>
    </flow>
    <flow name="variabledemoFlow1">
        <vm:inbound-endpoint exchange-pattern="one-way" path="vmqpath" doc:name="VM"/>
        <logger message="#[flowVars.fvariable]" level="INFO" doc:name="fLogger"/>
        <logger message="#[sessionVars.svariable]" level="INFO" doc:name="sLogger"/>
    </flow>
</mule>
