week-6/src/main/app/restconsumeown.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:context="http://www.springframework.org/schema/context" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <flow name="getflightsflow">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/flights" doc:name="HTTP" allowedMethods="GET"/>
        <set-variable variableName="airline" value="#[message.inboundProperties.'http.query.params'.airline]" doc:name="setairlineVariable"/>
        <flow-ref name="set-airport-code" doc:name="set-airport-code"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.airline==&quot;delta&quot;]">
                <flow-ref name="getDeltaFlightFlow" doc:name="getDeltaFlightFlow"/>
            </when>
            <when expression="#[flowVars.airline==&quot;united&quot;]">
                <flow-ref name="getunitedflightflow" doc:name="getunitedflightflow"/>
            </when>
            <otherwise>
                <flow-ref name="getallairlineflightsflow" doc:name="getallairlineflightsflow"/>
            </otherwise>
        </choice>
        <validation:is-not-empty message="payload is empty" value="#[payload]" doc:name="Validation"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload orderBy $.price]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
        
         
   
    </flow>
    <sub-flow name="set-airport-code">
        <set-variable variableName="code" value="#[message.inboundProperties.'http.query.params'.code==empty?'SFO':message.inboundProperties.'http.query.params'.code]" doc:name="airportcodevariable"/>
    </sub-flow>
    <flow name="getunitedflightflow">
        <http:request config-ref="HTTP_Request_raml-config" path="/essentials/united/flights/{destination}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="destination" value="#[flowVars.code]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message" metadata:id="68bfd307-b63b-4c83-adcc-34e85b8deb68">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload.flights map ((flight , indexOfFlight) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
} as :object {
	class : "com.mulesoft.training.Flight"
})]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[flowVars.code]" level="INFO" doc:name="Logger"/>
    </flow>
  
    <flow name="getDeltaFlightFlow">
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: flowVars.code as :string
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer1" operation="findFlight" doc:name="Delta Soap Request"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="8baa9679-37c6-4450-a013-f4e8687806e8">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://soap.training.mulesoft.com/
---
payload.ns0#findFlightResponse.*return map ((return , indexOfReturn) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as :object {
	class : "com.mulesoft.training.Flight"
})]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
         
        
       
    
    </flow>
    <flow name="getallairlineflightsflow">
        <scatter-gather doc:name="Scatter-Gather">
            <processor-chain>
                <flow-ref name="getDeltaFlightFlow" doc:name="getDeltaFlightFlow"/>
                <filter ref="Payload1" doc:name="Filter Reference"/>
            </processor-chain>
            <processor-chain>
                <flow-ref name="getunitedflightflow" doc:name="getunitedflightflow"/>
                <filter ref="Payload1" doc:name="Filter Reference"/>
            </processor-chain>
        </scatter-gather>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
flatten payload]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="postflightflow">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/flights" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="b02c45d2-bf8a-4d8e-a38b-d5843dd2272c">
            <dw:input-payload doc:sample="C:\Users\EAI\Downloads\MUFundamentals3.9_studentFiles\MUFundamentals3.9_studentFiles\examples\flight-example.json" mimeType="application/json"/>
            <dw:set-payload resource="classpath:json_flight_playground.dwl"/>
            <dw:set-variable variableName="xml"><![CDATA[%dw 1.0
%output application/xml
---
data: {
	hub: "MUA",
	flight @(airline: payload.airline): {
	code: payload.toAirportCode
	}
}]]></dw:set-variable>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="postmultipleflightsfloe">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/multipleflights" allowedMethods="POST" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="1c1fd881-6f8e-4e4d-9e84-f19a79858550">
            <dw:input-payload doc:sample="C:\Users\EAI\Downloads\MUFundamentals3.9_studentFiles\MUFundamentals3.9_studentFiles\examples\flights-example.xml" mimeType="application/xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://soap.training.mulesoft.com/
%type currency = :string {format: "###.00"}
%type flights = :object {class :"com.mulesoft.training.Flight"}
---
flights: (payload.ns0#listAllFlightsResponse.*return  map {
	
		destination: $.destination,
		price: $.price as :number as :currency,
		planeType: upper $.planeType replace /(BOING)/ with "BOEING",
		departureDate: $.departureDate as :date {format: "yyyy/MM/dd"} as :string {format: "MMM ,dd ,yyyy"},
		availableSeats: $.emptySeats as :number
		//totalSeats: getNumSeats($.planeType)
		//totalSeats: lookup("gettotalseatsflow",{type: $.planeType})
		
}  as :flights distinctBy $.destination
)
]]></dw:set-payload>
        </dw:transform-message>
        <logger level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="gettotalseatsflow">
        <expression-component doc:name="Expression"><![CDATA[if(type.contains('737'))
{
    payload =150;
}else
 {
  payload =300;
 }]]></expression-component>
    </flow>  
</mule>
